@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Welcome to Waitless</b></h1>
    <p>Making your queues easier and briskier.</p>
    <img class="mt-5" src="images/queue.svg" alt="Illustration of people in a queue" style="width:20rem;" />
    <div>
        <a asp-controller="Participant" asp-action="ListEvents" class="btn btn-primary mt-5">Register for Events<i class="bi bi-arrow-right ms-2 fw-bold"></i></a>
    </div>
    
</div>
